.masculino-container {
  padding: 2rem;
  max-width: 1300px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
}

.masculino-title {
  text-align: center;
  margin-bottom: 40px;
  color: #fbc02d;
  font-weight: bold;
  font-size: 1.8rem;
}

.character-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;
}

.loading-message,
.error-message {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
  color: #666;
}

.loader {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}
